
header{
    align-items: center;
    justify-content: space-between;
    background-color: #630bb6;
    display:flex;
    padding: 0%;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
    
}
  .barra ul{
    padding: 0px;
}
body{
    margin: 0%;
}
 .barra ul li  {
    padding: 10px 16px;
    background: #8408cc;
    border-radius: 5px;
}


nav a{
    
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
    
}
h1{ 
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 25px;
    
    
   
}
 ul li { 
   display: inline-block;
   padding: 0px 10px;
  
}

.elemento-padre{
    list-style-type: none;
    display: block;
    padding: 0;
    flex-wrap: wrap;
    flex:start
  
}








.text{
    /*background-image: url("/imagenes/539f8b5502bc162f5c6cecdbc03f58bd-Grande\ \(1\).jpeg ");*/
    background-color: rgb(255, 255, 255);
}
.footer .texto-primario{

    background-color: aquamarine;
}
.texto-primario{
    color: #ff0000;
}

.Hola{
    padding: auto;
    
}
body .text{
    padding: 5%;
    position: top;
}
    
           
.div1{
    width: 100%;
    height: 50%;
    color: #230fd6;
}
.div2{
    width: 50%;
    height: 90vh;
    background-color: #ff0000;
}
.div3{

    background-color: rgb(49, 226, 43);
    width: 50%;
    height: 50%;
  
}
.lista-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

@media screen {
    
}
.card{
    background-color: black;
    color: aliceblue;
    padding: 1em;
    border: 1px solid ;
    border-radius: 2px;
    display: grid;
}