/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                     BARRA DE NAVEGACIÓN Y HEADER
---------------------------------------------------------------------------------------------------------------------------------------------*/
.imagenfrase{
    width: 300px;
    height: 300px;
}
header{
  
   
    align-items: center;
    justify-content: space-between;
    background-color: #630bb6;
    display: flex;
    padding: 0%;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
.logo-inicio {
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(103%) contrast(103%);;
}
.logo-inicio:hover  {
scale: 1.2;
}


.selector{
    padding-left: 70%;
    padding-bottom: 5%;
}
.boton-selector {
    background:rgb(221, 172, 13);
    border: 4px solid rgb(221, 172, 13);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}
.boton-selector:hover{
    cursor: pointer;
    
}
.logo-mobile img{
   
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(103%) contrast(103%);
}   
.titulo-de-pagina{ 
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
form a{
    color: #ff0000;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                        CUERPO DE LA PÁGINA 
---------------------------------------------------------------------------------------------------------------------------------------------*/

body{
    margin: auto;
    background-color: #320136;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                             SUBMENU
---------------------------------------------------------------------------------------------------------------------------------------------*/
.menu {
    display: flex;
   /* background-color:#630bb6;*/
    padding: 10px 5px;
    max-width: 600px
}
.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    flex: 0 0 auto; 
  
}

.menu a:hover {
    scale: 1.2;
    color: rgb(221, 172, 13);    
}

 ul li { 
   display: inline-block;
   padding: 0px 10px;
  
}
.img{
    display:flex;
    
    height: 40px;
}
.img:hover{
    scale: 1.2;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                             BOTONES DE ACCESO
---------------------------------------------------------------------------------------------------------------------------------------------*/

.elemento-padre{
   
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  
}
.elemento-padre li{
    
    border: 1px solid black;
    padding: 1em;
    
}
.elemento-padre .elem-1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.elem-1:hover{
    scale: 1.2;
    background-color: rgb(221, 172, 13);
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    
}
.elemento-padre .elem-2{
    background-color: black;
    color: white;
}
.elemento-padre .elem-4{
    background-color: blue;
    color: white;
    flex-basis: 50%;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                CARTAS
---------------------------------------------------------------------------------------------------------------------------------------------*/
.carta{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.carta{ 

background-color: #ccc058;
color: black;
padding: 1em;
margin: 10px;
border-radius: 10px;
transition: 400ms;
transition-property: background-color, color, border;
overflow: hidden;

}
.carta a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
} 

.carta:hover{
    background-color: rgb(221, 172, 13);
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}
.carta:hover img{
    scale: 1.2;
}

.carta-titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
    font-size: 25px;
    text-align: center;
    text-decoration: none;

}
.carta-titulo button {
    
    background-color: #630bb6;
 }

.carta-titulo:hover{
    cursor: pointer;
    color:#000000;
   
}

.carta-.carta-descripcion img{
    scale: 1.2;
}
.carta-conten{
   
    gap: 1em;

}
.titulo-conten{
  
    background-color: #58075f;
    color: white;
    padding: 1.2em .5em;
    text-align: center;
    grid-column: span 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imagen-carta{
   
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition:  1s scale;
}
/*PAGINA DE LENGUAJES*/












.text{
   
    background-color: rgb(255, 255, 255);
}
.footer .texto-primario{

    background-color: aquamarine;
}
.texto-primario{
    color: #ff0000;
}

.Hola{
    padding: auto;
    
}
body .text{
    padding: 5%;
    position: top;
}
    
           
.div1{
    width: 100%;
    height: 50%;
    color: #230fd6;
}
.div2{
    width: 50%;
    height: 90vh;
    background-color: #ff0000;
}
.div3{

    background-color: rgb(49, 226, 43);
    width: 50%;
    height: 50%;
  
}
.lista-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}


/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                             MEDIA QUERY
---------------------------------------------------------------------------------------------------------------------------------------------*/




@media(min-width: 992px) {
    .selector{
        
        padding: 20px;
        padding-left: 90%;
    }
    .elemento-padre .elem-2 {
        color: red
        
    }
    .logo-mobile{display: none;}
    
}

@media(min-width: 992px) {
    .carta-conten{
        display: grid;
        
    grid-template-columns: 1fr 1fr 1fr;
}
.carta-titulo{
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.carta{
    border-radius: 10px;
}
}
@media(min-width: 992px){
    .carta-conten{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .carta-titulo{
        grid-column-start: 1;
        grid-column-end: 3;
    }
 
}


/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                             SECCIÓN JUEGOS
---------------------------------------------------------------------------------------------------------------------------------------------*/
.titulo-juegos img{
    background-position: center;
    height: 60px;
}
.titulo-juegos{
   
    background-color: #58075f;
    color: white;
    padding: 1.2em .5em;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.seccion-juegos a{
    font-size: medium;
    color:#000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.seccion-juegos  {

   background-position: center;
  
   background-image: url(../images/juegosbackground.jpg);
    padding: 20px;
    background-color:#ff0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    text-align: center;
}

.juegos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-juego{
  
    transition: 600ms;
    border: 4px solid rgb(226, 175, 7);
    border-radius: 20px;
    width: 100px;
}
.img-juego:hover{
    transition: 800ms;
    scale: 1.2;
    box-shadow: 0px 0px 5px rgb(90, 1, 117);
   

}


